// =====================================================
// VARIABLES 
// =====================================================

// COLORS
$color-black: black;
$color-grey-light: #C4C4C4;
$color-grey-lighter: #E5E5E5;
$color-blue-mid: #0086E8;
$color-blue-dark: #005CBF;

// UNIT
//$unit: 4px;

// TYPOGRAPHY
$text-h1: 96px light;
$text-b1: 16px regular;
$text-button: 16px bold;

// SPACING
$space-tighter: 4px;
$space-tight: 8px;
$space-standard: 12px;
$space-loose: 24px;
$space-looser: 40px;

// GRID
$max-width: 1200;
$grid-colomns: 12;
.section {
    max-width: $max-width;
    margin: auto;
}

.container {
    @for $i from 1 through $grid-colomns {
        &--col#{$i} {
            flex: 0 0 100% / $grid-colomns * $i;
        }
    }
    
    &__quiz {
        border: #005CBF 1px; 
    }

}

// =====================================================
// MIXINS
// =====================================================



// =====================================================
// HELPERS
// =====================================================
%btn {
    padding: 8px 16px 8px 16px;
    color: $color-black;
    border-radius: 4px;
}

%input {
    padding: 8px 8px 8px 8px;
    &::placeholder {
        color: $color-grey-lighter;
    }
}


// ======================================================
// BASE 
// ======================================================
.btn-primary {
    @extend %btn;
    color: white;
    background-color: $color-blue-mid;
}

.input-answer {
    @extend %input;
}


// ======================================================
// BREAK-POINTS 
// ======================================================
