// IMPORT ------------------------------------ //
@import 'partials/variables';
// imports allow you to break out your scss into smaller chunks and make it easier to manage.
// to import a partial you use the @import and the file directory in quotations. 
// when creating a partial make sure to name the file with an underscore at the begining of it
// so that scss compiler knows to ignore converting into its own css file. 
// to import multiple partialfiles you coulduse one @import directive and seperate the files with cammas.
// lastly, make sure to import files in orderof dependancies otherwise you will have compiling issues.
// a good way to break out partials are; base, components, layout, utilities.

// MIXINS ------------------------------------ //
@mixin fill {
    color: $primary-color;
    @content
}




/* BASE -------------------------------------- */
.success-header {
    @include fill { 
        // when using @include it allows you to add properties to the parent.
        // when using @extend you tell sass to include properties from another class. 
        border: 1px;
    }
    border: 1px;
}

// how to use the '&' symbolto makeit easier to inherit styles.
.btn {
    &-primary {
        // this will out put .btn-primary {} the '&' in essence inherits the label from the parent. 
    }
    &::after { 
        // it's also very common to use the '&' decloration with pseodo elements and classes
        // ::after or :hover 
    }
}

// you could exicute this invertadly as well
p {
    // primary style for paragraphs go here
    .user-card & {
        // here you'd add any styles that apply to paragraphs within .user-card class only. 
    }
}

// anything with a % sign when declared is called a placeholder in sass.
// it's best practice to extend on place holders to prevent bloat in your code
// for example you might create a btn placeholder class andexten on it for
// the all the different types of btns you have ie: primary, secondary, etc. 
// and in HTML you'd only ever tag the element with a primary-btn or secondary-btn. 
// placeholder classes are also referredto as 'helpers'.
%btn {
    color: blue;
    background-color: yellow;
}

.btn-primary {
    @extend %btn;
    border: 1px solid black; 
}


// BREAK POINTS ------------------------------ //
@media (min-width: 600px) {
    //this is a media query or break point. 
    .container {
        &-quiz{
          max-width: 60%;
          margin: auto;
        }
        &-letter{
            max-width: 60%;
            margin: auto;
        }
    }
}