// VARIABLES --------------------------------- //
$primary-color: black;

// MIXINS ------------------------------------ //
@mixin fill {
    color: $primary-color;
    @content
}


// BASE -------------------------------------- //
.success-header {
    @include fill {
        border: 1px;
    }
    border: 1px;
}

.button {
    color: blue;
    background-color: yellow;
}


// BREAK POINTS ------------------------------ //
